---
layout: default
title: Faisal Manzer - An Undergraduate Technology Passionate
description: Need Web Application developer. Contact ME. I love technology, and of course programming stuff. I make small websites and generally interested in web technologies, and now moving ahead in app development. I am eager to learn more stuff.
---
<div class="row" id="skills">
    {% assign cont=1 %}
    {% for types in site.data.skills %}
        <div class="col s12 m6 l5 {% if cont==1 %}offset-l1{% endif %}">
            <h2 class="font-2">{{types.name}}</h2>
                {% for skills in types.data %}
                    <h3>-> {{skills.name}}</h3><br />
                        {% for skill in skills.data %}
                            <p>
                                <h4>>>> {{skill.name}}</h4>
                                <p>{{skill.data}}</p>
                            </p><br />
                        {% endfor %}
                {% endfor %}
        </div>
        {% assign cont=2 %}
    {% endfor %}
</div>
<hr />
<div class="row" id="projects">
    {% assign cont=1 %}
    {% for type in site.data.projects %}
        <div class="col s12 m6 l5 {% if cont==1 %}offset-l1{% endif %}">
            <h2>Projects</h2>
            <h3>-> {{type.name}}</h3><br />
            {% for project in type.data %}
                <p>
                    <h4>
                        <a href="{{project.link.data}}" title="{{project.link.title}}" rel="noopener" target="_blank">
                            <i class="fa fa-link fa-fw"></i>
                            {{project.name}}
                        </a>
                    </h4>
                    <p>
                        {% if project.github %}
                            <a href="https://github.com/Faisal-Manzer/{{project.github}}">
                                <i class="fab fa-github fa-fw"></i>
                                {{project.github}}
                            </a>
                            <br />
                        {% endif %}
                        {{project.desc}}
                    </p>
                </p><br />
            {% endfor %}
        </div>
    {% assign cont=2 %}
    {% endfor %}
</div>
<hr />
<div class="row" id="education">
    <div class="col s12 m6 l5 offset-l1">
        <h2>
            Secondary Education
        </h2><br/>

        <h4>
            <i class="fa fa-cap"></i>
            Graduation ( B.Tech Civil Engineering )
        </h4>
        2017 - Current<br/> Jamia Millia Islamia, Delhi<br/>
        <h4> <i class="fa fa-cap"></i>&nbsp;Intermediate ( C.B.S.E. Delhi ) </h4>
        <p> 2014 - 2016<br/> Firayalal Public School, Ranchi </p><br/>
    </div>
    <div class="col s12 m6 l5">
        <h2>Primary Education</h2> <br/>
        <h4> <i class="fa fa-cap"></i>&nbsp;Matriculation ( C.B.S.E. Delhi ) </h4>
        <p> 2013 - 2014<br/> Firayalal Public School, Ranchi </p><br/>
    </div>
</div>
