<header class="blue-grey-dark-4-bg">
    <div class="brand-logo">
        <h1 class="title blue-grey-light-5"><a href="{{page.baseurl}}">Faisal&nbsp;Manzer</a></h1> </div>
    <div class="nav-list hide-s hide-m blue-grey-light-4">
        <ul>
            <li><a href="{{page.baseurl}}#about">About</a></li>
            <li><a href="{{page.baseurl}}#skills">Skills</a></li>
            <li><a href="{{page.baseurl}}#projects">Projects</a></li>
            <li><a href="{{page.baseurl}}#education">Education</a></li>
            <li><a href="{{page.baseurl}}#contact">Contact</a></li>
            <li><a href="{{page.baseurl}}/gallery/index.html" class="external">Images</a></li>
        </ul>
    </div>
</header>