<div class="row" id="about">
    <div class="col s12 m6 l5 offset-l1 margin-right"> <img src="{{site.baseurl}}/images/faisal-manzer.jpeg" class="responsive-img" alt="Faisal Manzer - An Undergraduate Technology Passionate"> </div>
    <div class="col s12 m6 l5 font-1-5"> Create your imagination,<br/> They will create you.<br/><br/> - Faisal Manzer </div>
</div>
<div class="row">
    <div class="col s12 m6 l5 offset-l1 margin-right right"> I love technology, and of course programming stuff. I make small websites and generally interested in web technologies, and now moving ahead in app development. I am eager to learn more stuff. </div>
    <div class="col s12 m6 l5">
        <h1 class="light-blue-dark-4">Hi. This is Faisal Manzer,</h1>
        <h2 class="blue-grey-dark-4">>>> An Undergraduate Technology Passionate.</h2> </div>
</div>
<hr/>