<script>
    
    window.$ = document.querySelector.bind(document);
    window.$$ = document.querySelectorAll.bind(document);
    var tags = $$("header a:not(.external)");
    for (var i = 0; i < tags.length; i++) {
        tags[i].addEventListener("click", function(e) {
          var name = this.innerHTML.toLowerCase();
            if($("#"+name)) {
                e.preventDefault();
                var offset = parseInt($("#" + name).offsetTop);
                console.log(offset);
                window.scrollBy({
                    top: offset,
                    left: 0,
                    behavior: 'smooth'
                });
                history.replaceState({
                    offset: offset,
                    name: name
                }, "", location.pathname + "#" + name);
            }
        });
    }
</script>
