<div class="center social-bar blue-grey-dark-3-bg title blue-grey-light-5">
    <ul>
        <li><a href="https://www.linkedin.com/in/faisal-manzer-a543b3151/" title="Faisal Manzer's LinkedIn Profile" target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a></li>
        <li><a href="https://github.com/Faisal-Manzer" title="Faisal Manzer's GitHub Profile" target="_blank" rel="noopener"><i class="fab fa-github"></i></a></li>
        <li><a href="https://www.instagram.com/faisal_manzer/" target="_blank" rel="noopener"><i class="fab fa-instagram" title="Faisal Manzer's Instagram Profile"></i></a></li>
        <li><a href="https://api.whatsapp.com/send?phone=919097718815" title="Faisal Manzer's WhatsApp"><i class="fab fa-whatsapp-square"></i></a></li>
        <li><a href="mailto: faisal_manzer@yahoo.in"><i class="fa fa-envelope" title="Faisal Manzer's Email"></i></a></li>
    </ul>
</div>